<!-- <nav class="navbar">
    <a class="navbar-brand" href="/">Employeement Agency</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/employee">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/employer">Employer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jobs">Jobs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
</nav> -->

<div class="navbar-bg">
    <p>Employement Agency</p>
    <div id="navSidePanel" class="navbar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/my-profile">My Profile</a>
        <a href="/">Home</a>
        <a href="/jobs">Jobs</a>
        <a href="/login">Log In</a>
        <a href="signup">Sign Up</a>
        <a href="about">About</a>
      </div>
    <button class="openbtn" onclick="openNav()">☰</button>  
</div>