<div class="navbar-bg">
    <p>Employment Agency</p>
    <div id="navSidePanel" class="navbar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/">Home</a>
        <a href="/jobs">Jobs</a>
        <a href="employee">Employee</a>
        <a href="employer">Employer</a>
        <a href="about">About</a>
        <a href="/login" class="navbar-bottom">Log In</a>
    </div>
    <button class="openbtn" onclick="openNav()">☰</button>
</div>