<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <title>Personal Info</title>
</head>

<body>
  <main>
    <%- include('../partials/header'); %>

      <div class="profile_container">
        <div class="profile">
          <img src="static/job_default_logo.jpg" alt="Description" class="profile_image">
          <div class="profile_info">
            <fieldset>
              <legend>Firstname</legend>
              <p>{firstname}</p>
            </fieldset>
            <fieldset>
              <legend>Lastname</legend>
              <p>{lastname}</p>
            </fieldset>
            <fieldset>
              <legend>Email</legend>
              <p>{email}</p>
            </fieldset>
            <fieldset>
              <legend>Phone1</legend>
              <p>{phone1}</p>
            </fieldset>
            <fieldset>
              <legend>Phone2</legend>
              <p>{phone2}</p>
            </fieldset>
            <fieldset>
              <legend>Address</legend>
              <p>{address}</p>
            </fieldset>
            <fieldset>
              <legend>Region</legend>
              <p>{region}</p>
            </fieldset>
            <fieldset>
              <legend>Occupation</legend>
              <p>{occupation}</p>
            </fieldset>
            <fieldset>
              <legend>Specialty</legend>
              <p>{specialty}</p>
            </fieldset>
          </div>
          <div class="profile_buttons">
            <button class="profile-button" type="submit" value="upload_image" />Upload Image</button>
            <button class="profile-button" type="submit" value="upload_cv" />Upload CV</button>
            <button class="profile-button" type="submit" value="Edit" />Edit</button>
          </div>
        </div>

        <h2>Οι αιτήσεις μου</h2>

        <div class="cards">
          <div class="card">
            <img src="static/job_default_logo.jpg" alt="Description" class="card-image">
            <div class="card-content">
              <h2 class="card-title">Card 1</h2>
              <hr>
              <p class="card-description">This is a description for Card 1.This is a description for Card 1.This is a
                description for Card 1.This is a description for Card 1.This is a description for Card 1</p>
            </div>
          </div>

          <div class="card">
            <img src="static/job_default_logo.jpg" alt="Description" class="card-image">
            <div class="card-content">
              <h2 class="card-title">Card 2</h2>
              <hr>
              <p class="card-description">This is a description for Card 2.</p>
            </div>
          </div>

          <div class="card">
            <img src="static/job_default_logo.jpg" alt="Description" class="card-image">
            <div class="card-content">
              <h2 class="card-title">Card 3</h2>
              <hr>
              <p class="card-description">This is a description for Card 3.</p>
            </div>
          </div>
        </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>